@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  /* Primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* Accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open-sans, sans-serif;
}

body{
  max-width: 100vw;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo-wrapper{
  width: 120px;
}

#logo{
  width: 100%;
}

nav{
  padding: 20px
}

nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

nav ul li a{
  color: var(--very-dark-blue);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.hero-image-wrapper{
  width: 90vw;
  margin: 40px 0;
}

#hero-img{
  max-width: 100%;
}
.hero-text-wrapper h1{
  color: var(--very-dark-blue);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px
}

.hero-text-wrapper p{
  color: var(--very-dark-blue);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px
}

.cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cta input,
.cta button{
  width: 100%;
  padding: 15px;
  border-radius: 3px;
}

.cta button{
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-family: Raleway, sans-serif;
  background-color: var(--bright-blue);
}