@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* Accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open-sans, sans-serif;
}

body {
  max-width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo-wrapper {
  width: 120px;
}

#logo,
#footer-logo {
  width: 100%;
}

nav {
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

nav ul li a {
  color: var(--very-dark-blue);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.hero-container,
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 100px;
}
.hero-image-wrapper {
  width: 90vw;
  margin: 40px 0;
}

#hero-img,
#illustration-2 {
  max-width: 100%;
}
.hero-text-wrapper h1 {
  color: var(--very-dark-blue);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text-wrapper p {
  color: var(--very-dark-blue);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cta input,
.cta button {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
}

.cta button {
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-family: Raleway, sans-serif;
  background-color: var(--bright-blue);
}

.main-container {
  position: relative;
  background-color: var(--light-grayish-blue);
}

#curve-mobile {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
}

#stay-productive {
  text-align: left;
}

#stay-productive h2 {
  color: var(--very-dark-blue);
  font-size: 18px;
  width: fit-content;
  margin: 40px auto 20px;
  font-family: Raleway, sans-serif;
}

#stay-productive p {
  color: var(--desaturated-blue);
  font-size: 15px;
  font-family: Open-sans, sans-serif;
}

#stay-productive p:first-of-type,
#stay-productive p:last-of-type {
  margin: 20px 0;
}

#stay-productive a {
  display: block;
  color: var(--moderate-cyan);
  width: fit-content;
  margin: 0 auto;
  text-underline-offset: 3px;
}

.testimonial {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  scale: 0.85;
  background-color: #fff;
  padding: 20px;
  gap: 20px;
  text-align: left;
}

.testimonial p {
  color: var(--very-dark-blue);
  font-size: 15px;
  line-height: 1.5;
}

#about-reviewer {
  display: inherit;
  align-items: center;
  justify-content: start;
  text-align: left;
  gap: 10px;
}

#about-reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#reviewer-info p:first-of-type {
  color: var(--very-dark-blue);
  font-size: 16px;
  font-weight: 700;
}

#reviewer-info p {
  color: var(--desaturated-blue);
  font-size: 14px;
  font-weight: 400;
}

.early-access {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: #fff;
  padding: 40px 20px;
  background-color: var(--desaturated-blue);
}

.early-access h3 {
  font-size: 18px;
  font-weight: 700;
}

.early-access p {
  font-size: 17.5px;
}

.early-access .cta {
  width: 80%;
}

footer {
  background-color: var(--very-dark-blue);
  padding: 40px 20px;
}
#footer-logo {
  filter: invert(1) saturate(100) hue-rotate(180deg) brightness(1.1)
    contrast(1.05);
}

#contact{
  margin: 50px 0;
}

#contact p{
  color: #fff;
}

#contact p:first-of-type{
  color: #fff;
  margin: 15px 0;
}

#contact img{
  margin-right: 10px;
}

.more-info{
  color: #fff;
  list-style-type: none;
  margin-bottom: 50px;
}

.more-info li{
  margin: 20px 0;
}